varsub.variables.adapter.xml=@TEST_DATA_DIR@/variables-adapter.xml
varsub.variables.properties=file:///@TEST_DATA_DIR@/sample-variable-substitutions.properties
varsub.sysprop.adapter.xml=@TEST_DATA_DIR@/sysprops-adapter.xml
varsub.environment.adapter.xml=@TEST_DATA_DIR@/environment-adapter.xml
varsub.missing.variables.properties=file:///@TEST_DATA_DIR@/sample-missing-variable-substitutions.properties